[2022-10-04 15:27] Sreetama2001 opened #3 "Adding force git pull and push"
@EshanTrivedi21  can I add these?

[2022-10-04 15:31] EshanTrivedi21 commented on #3
Hey, Go on. Thanks!

[2022-10-05 20:28] amyra98 opened #4 "Github Desktop Features"
I can add a step-by-step guide on using Github Desktop to perform basic fork, pull, push, and other operations.

[2022-10-05 20:29] amyra98 commented on #4
@EshanTrivedi21 Can I work on this issue under Hacktoberfest?

[2022-10-06 11:48] EshanTrivedi21 commented on #3
yup thats fine

[2022-10-06 11:49] EshanTrivedi21 commented on #4
Yup you can go on.. Thanks.

[2022-10-06 17:31] Sreetama2001 commented on #3
@EshanTrivedi21  I have created a PR please look into it!

[2022-10-06 17:40] #3 closed

[2022-10-06 20:04] EshanTrivedi21 commented on #4
Fixed

[2022-10-06 20:04] #4 closed

[2022-10-07 11:01] Aatmaj-Zephyr opened #9 "Add liscence"
Add an liscence to your project

https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/adding-a-license-to-a-repository

[2022-10-08 05:06] EshanTrivedi21 commented on #9
Fixed

[2022-10-08 05:06] #9 closed

[2022-10-08 05:09] Kedap opened #12 "Converting cheatsheet to asciidoc"
It would be better to convert the txt file to asciidoc to later convert to markdown

[2022-10-08 05:16] EshanTrivedi21 commented on #12
Heyy,
I have less idea about this.. Never used asciidoc just read about it.
I'll assign you the task it would be great if you help me out with this.
Thank You,
Regards.

[2022-10-08 06:22] jyotika6221 commented on #12
Hey please assign me this task.

[2022-10-08 06:27] Kedap commented on #12
Douh

[2022-10-08 06:27] Kedap commented on #12
I already have the pull request ready

[2022-10-08 06:32] #12 closed

[2022-10-09 08:21] Tasmiya-k opened #19 "Want to add a branches section for all branch commands"
@EshanTrivedi21 pls assign

[2022-10-09 08:22] EshanTrivedi21 commented on #19
I didn't quite understand what this means though.. can you plz elaborate?
Thankss

[2022-10-09 08:27] Tasmiya-k commented on #19
want to add all branch related commands

[2022-10-09 09:15] EshanTrivedi21 commented on #19
Closingg

[2022-10-09 09:15] #19 closed

[2022-10-09 14:23] EshanTrivedi21 opened #21 "Incomplete Md"
The text file need to be transcripted and written into the markdown.
But keeping in mind that the format of the Markdown doesn't get disturbed.

[2022-10-09 14:24] EshanTrivedi21 opened #22 "Incomplete Website"
The text file need to be transcripted and written into the index.html.
But keeping in mind that the format of the Website doesn't get disturbed.

[2022-10-09 14:27] EshanTrivedi21 opened #23 "Adoc Unreadable"
The Adoc file is complete but the end doesn't look good and is not much readable

[2022-10-09 14:48] EshanTrivedi21 opened #24 "Pdf download button on Website"
A new PDF needs to be created under the Assets Folder..
And a Download Button must be added to the end of the website which Downloads this pdf

[2022-10-09 14:51] EshanTrivedi21 commented on #21
The text file need to be transcripted and written into the markdown.
But keeping in mind that the format of the Markdown doesn't get disturbed.

[2022-10-09 14:52] syprogrammer commented on #24
is it html file

[2022-10-09 14:53] EshanTrivedi21 commented on #24
Yup it is an html css shell website... so that the contributors are comfortable with contributing

[2022-10-09 14:56] EshanTrivedi21 commented on #24
it was @KCmean's idea.. Shall I assign this task to you? I will also assign it to @KCmean, you'll can work together.

[2022-10-09 15:02] EshanTrivedi21 opened #25 "Light/Dark mode Toggle Button (Website)"
A button needs to be added on the website that toggles between the light and the dark mod, this would increase the reader's readability and user-experience.. Keep in mind that the format is same as the Website's Theme

[2022-10-09 15:11] shrutilenka commented on #25
Hey @EshanTrivedi21, I am interested in working on this issue. Could you please assign this to me?

[2022-10-09 15:13] EshanTrivedi21 commented on #25
Heyy Sure! @shrutilenka
I'll assign it to you, Thanks for your interest.

[2022-10-09 16:35] FinnKr commented on #23
What exactly do you mean by that? Do you want it to be better formatted (list, table or something) or do you want to have the text itself changed? Or maybe both :)

[2022-10-09 16:51] EshanTrivedi21 commented on #23
The text is okay since it is referring to the main text file I created..
But the problem a few people are facing is the readibility. The file is not nicely formatted and is untidy..
I'll assign you this task.. I have no specific format but it should be usable, full independence to you to format it the way you like.
Thank you so much for your Involvement :)

[2022-10-09 16:53] syprogrammer commented on #24
I created a pdf in assests folder from .txt file  and added a download button at the end of website
here is design with animation please review it if it is ok : https://bit.ly/3yv1wkW

[2022-10-09 16:56] FinnKr commented on #23
All right I'll do my best.

[2022-10-09 16:56] EshanTrivedi21 commented on #24
It is good but might need some changes.. But you can add a Pull Request I'll change it the way it suits..
Good Work Buddy!!!! Thanks :)

[2022-10-09 16:56] EshanTrivedi21 commented on #23
Thank You so much!!

[2022-10-09 17:29] FinnKr commented on #23
I created a PR. Let me know what you think about it. #30

[2022-10-09 18:14] EshanTrivedi21 commented on #24
@KCmean Aage ke changes karle plz

[2022-10-09 18:23] samc18 commented on #22
Hi @EshanTrivedi21 I would like to help out with this!

[2022-10-09 18:25] EshanTrivedi21 commented on #22
Heyy!! Thanks for your involvement..
I have assigned you this task!
Go on, All the Best :)

[2022-10-09 18:39] KCmean commented on #24
wait i am trying to make a better pdf and a better position for download button with better UI. let me handle this task

[2022-10-09 18:40] EshanTrivedi21 commented on #24
Great go on @KCmean

[2022-10-09 19:08] FinnKr commented on #21
Hi I just changed to markdown file to include everything that is in the adoc file. Let me know if it's fine. I adjusted the last section in the markdown to look a bit nicer. PR: #31

[2022-10-09 19:27] EshanTrivedi21 commented on #21
Great work!! Time to close this issue now ✨️

[2022-10-09 19:47] EshanTrivedi21 commented on #21
@FinnKr Sorry bro the Markdown format must be similar to the md format in any readme.. rn the adoc is the same as the md.. hence I reopened the issue and will delete the merge commit.. Sorry :)

[2022-10-09 19:57] EshanTrivedi21 commented on #24
@syprogrammer refer your pull request here plz

[2022-10-09 19:58] FinnKr commented on #21
Oh sorry. Understandable. I'll work on this tomorrow and adjust the Markdown accordingly.

[2022-10-09 19:59] EshanTrivedi21 commented on #21
No worries.. Thanks :).. respect the efforts!

[2022-10-10 02:18] Tiansing commented on #21
You can assign me to  do this task

[2022-10-10 02:19] Tiansing commented on #22
I would like to participate as well

[2022-10-10 02:48] EshanTrivedi21 commented on #21
Thanks :).. I'll assign you the task

[2022-10-10 02:48] EshanTrivedi21 commented on #22
Greatt!!! Go on Buddy!

[2022-10-10 14:42] EshanTrivedi21 commented on #25
any progress @shrutilenka ??

[2022-10-10 14:42] EshanTrivedi21 commented on #25
@aryan-parmar

[2022-10-10 14:46] EshanTrivedi21 commented on #22
hello @samc18,
what you can do is while filing your pr you can add @Tiansing as a coauthor and then he can review your changes and then send his coauthored pr as well.. this is one way of working together it would be a great experience..
great work @samc18!
any progress with your work @Tiansing ??

[2022-10-10 14:47] EshanTrivedi21 commented on #21
any progress @Tiansing ?
also is fixing that markdown issue possible from your side @FinnKr ?

[2022-10-10 14:51] shrutilenka commented on #25
@EshanTrivedi21 yes I'm working on that. will be submitting it by tomorrow.

[2022-10-10 14:52] EshanTrivedi21 commented on #25
greatt!!
okay thanks.

[2022-10-10 15:01] EshanTrivedi21 opened #33 "Website UI"
The Website's UI is not good enough..
also the UX is not up to the mark, People have been complaining that finding commands is difficult!
this issue needs to be solved asap..
issue credits to @KCmean.. plz take charge! Also anyone who needs to join plz cooperate and work with @KCmean.
His idea was to create a landing page having cards on section basis (e.g. Branches and Commits.. ) which redirect

[2022-10-10 15:04] EshanTrivedi21 commented on #33
#25 #24 #22 these too coincide within this issue!

[2022-10-10 17:25] samc18 commented on #22
Hi @EshanTrivedi21, perfect, thanks for the tips! I'll be reviewing the whole content of the index.html to make sure is 100% in line with the txt file and I'll be submitting a new PR later today with @Tiansing as coauthor.

Thanks!

[2022-10-10 17:33] EshanTrivedi21 commented on #22
@samc18 you're doing a great work buddy go on!

[2022-10-11 03:16] samc18 commented on #22
hi @EshanTrivedi21 I have the PR ready but I can not find an option to add a co-author on the Open a Pull Request page, perhaps am I missing something?

[2022-10-11 04:09] AvadhootK opened #36 "Links opening in same tab"
Hey @EshanTrivedi21 ,
The links to github repositories and github profiles are opening on the same tab. The user has to press "back" in order to come back to the website.
However, the links should open in new tabs to improve the user experience.
Can I work on this issue?

![Screenshot (677)](https://user-images.githubusercontent.com/72447002/194995072-98799ad1-851b-49d6-a191-323feffdb0e8.png)

[2022-10-11 04:31] devjj248 commented on #36
Check it out #37 PR, This Pointed Issue Fixed

[2022-10-11 04:35] AvadhootK commented on #36
@devjj248 , shouldn't we be first assigned to the issue before fixing it?

[2022-10-11 04:36] AvadhootK commented on #36
I was asking for me to get assigned to get this issue fixed.

[2022-10-11 12:21] EshanTrivedi21 commented on #36
Hey @AvadhootK..
Thanks for pointing out this bug.. I will assign you and @devjj248 both this task..
I will review the pull request which was added by @devjj248..
you can review the commit and work on it if you are not satisfied.
or else shall I let you work on this, since it is your issue?
Thanks :)

[2022-10-11 12:22] EshanTrivedi21 commented on #36
please reply asap @AvadhootK so that I can take further actions..

[2022-10-11 12:23] EshanTrivedi21 commented on #33
@KCmean take charge!!!

[2022-10-11 12:24] AvadhootK commented on #36
It will be great if i can work on this since I noticed the bug :)

[2022-10-11 12:25] EshanTrivedi21 commented on #25
@shrutilenka please reference your pull request here!!

[2022-10-11 12:25] EshanTrivedi21 commented on #25
so that i can close this issue

[2022-10-11 12:26] EshanTrivedi21 commented on #24
closing this issue... @KCmean take care of this is the #33 issue!

[2022-10-11 12:26] #24 closed

[2022-10-11 12:27] EshanTrivedi21 commented on #23
@FinnKr @Kedap plz reply asap so that I can take further action!!!

[2022-10-11 12:28] EshanTrivedi21 commented on #22
Heyy @samc18 dont worry brother.. @Tiansing is not replying you can take the complete charge here!

[2022-10-11 12:28] EshanTrivedi21 commented on #22
also @samc18 pls refer your pull request here

[2022-10-11 12:29] AvadhootK commented on #36
By the way, I have also made a pull request and fixed this issue.

[2022-10-11 12:29] EshanTrivedi21 commented on #21
@Tiansing is not replying.. you can take full charge over it @FinnKr..
Go on..

[2022-10-11 12:30] EshanTrivedi21 commented on #21
also the issue is that the markdown must be like the website format! @FinnKr Thanks:)

[2022-10-11 12:31] devjj248 commented on #36
@AvadhootK Yes you found this issue, But i saw this issue, after seeing your pointed issue. Just fixed it. In open souorce projects, you are not restrict for someone approval or assignment. Just create PR if you can fixed the issue. I did same. But @EshanTrivedi21 If You want to accept his PR, You are most welcome. I have multiple options for more PRs, I can do it,

[2022-10-11 12:34] AvadhootK commented on #36
Thanks :)

[2022-10-11 12:38] EshanTrivedi21 commented on #36
Sorry brother @devjj248, I accepted @AvadhootK's PR.. You'll can work on other issues supposedly there are many :)

[2022-10-11 12:38] #36 closed

[2022-10-11 12:38] FinnKr commented on #21
I‘ll look into it when I got some time. I have a lot to do at work currently. Maybe tomorrow or Thursday.

[2022-10-11 12:39] EshanTrivedi21 commented on #21
No issues :)

[2022-10-11 12:40] FinnKr commented on #23
Go ahead. It‘s your repository. I think an additional Asciidoc file is kind of unnecessary if you got the Markdown.

[2022-10-11 12:42] EshanTrivedi21 commented on #23
Okay Thanks for the review @FinnKr.. I too feel the same.. closing this issue!

[2022-10-11 12:42] #23 closed

[2022-10-11 12:44] EshanTrivedi21 commented on #25
#39

[2022-10-11 12:45] EshanTrivedi21 commented on #25
@shrutilenka i need to close this issue.. also to count in as a contributor you need to reference your pull request here..
please do it asap.. many thanks :)

[2022-10-11 13:06] EshanTrivedi21 commented on #22
closing this issue. congratulations and great work @samc18!

[2022-10-11 13:06] #22 closed

[2022-10-11 13:08] EshanTrivedi21 commented on #21
@FinnKr i am closing this issue and creating a new one with a better description of the problem.. please take charge there so that i can assign it to you as well as others who want to work on that issue.. Thanks :)

[2022-10-11 13:23] EshanTrivedi21 opened #42 "Markdown Format"
The issue is that the current format of Markdown isn't very well formatted.. I have been getting these complaints from a few people!

I would like if someone would take the initiative of completing the markdown and reformatting it to this format ⬇️

<a href="https://ibb.co/FWw09w6"><img src="https://i.ibb.co/3sNMwN1/Screenshot-2022-10-11-184712.png" alt="Screenshot-2022-10-11-184712" border="0" />

[2022-10-11 13:32] shrutilenka commented on #25
#39
@EshanTrivedi21
this is my pull request.

[2022-10-11 14:44] bubblecode76 commented on #42
can you pls assign this to me?
also do you want this format for every topic in the file or just the terminal basics topic?

[2022-10-11 15:03] EshanTrivedi21 commented on #42
Sure @bubblecode76 !!

[2022-10-11 15:27] samc18 opened #43 "Index clean up"
hi @EshanTrivedi21, this issue is related to the index.html content, there were a few errors here and there.

[2022-10-11 16:23] #43 closed

[2022-10-11 17:08] FinnKr commented on #42
@bubblecode76 I guess it should be for every topic which includes Terminal commands.

[2022-10-11 17:10] bubblecode76 commented on #42
@FinnKr ok thanks

[2022-10-11 17:36] AvadhootK opened #46 "Cheetsheet topics are too clogged up"
The links in the cheetsheet topics are too clogged up and is not looking good.
Can I fix this in order to improve the website appearance?

![Screenshot (682)](https://user-images.githubusercontent.com/72447002/195160936-07e689ac-94c5-49bf-bfdb-28eb79cb5b1c.png)

[2022-10-11 17:39] EshanTrivedi21 commented on #42
Heyy @FinnKr @bubblecode76
It's like every separate command in a separate code block so like one can copy the code snippet which github provides with its markdown
For example...
Github Branch is a Section
Every Command in the Section is a separate Code Snippet.
Hope this helps?

[2022-10-11 17:40] EshanTrivedi21 commented on #46
Go on buddy.. I guess @aryan-parmar is working on this as well

[2022-10-11 17:44] AvadhootK commented on #46
Thanks!

[2022-10-11 18:05] EshanTrivedi21 commented on #46
Closing this issue

[2022-10-11 18:05] #46 closed

[2022-10-12 05:44] bubblecode76 commented on #42
@EshanTrivedi21 yes thank you

[2022-10-12 08:16] EshanTrivedi21 commented on #25
@shrutilenka seems like the toggle button isn't working on mobiles
Or maybe only on my phone
Are you facing the same issue?

[2022-10-12 08:58] Aatmaj-Zephyr opened #49 "Night mode not working"
Night mode toggle button not working

[2022-10-12 09:23] shrutilenka commented on #25
@EshanTrivedi21 let me check once again...

[2022-10-12 09:28] shrutilenka commented on #25
![lightmode](https://user-images.githubusercontent.com/96660357/195305289-7b871e9b-35f5-47ed-b267-e75ba69a067b.png)
![darkmode](https://user-images.githubusercontent.com/96660357/195305359-f4b4166a-86d2-4885-bc8b-5c546d9584be.png)

@EshanTrivedi21 sir the toggle button is working in mobile view.
its is not responsive but it is working.

[2022-10-12 09:32] EshanTrivedi21 commented on #49
I have pointed out this problem in this issue #25 @Aatmaj-Zephyr.
@shrutilenka is taking care of the issue! Lets continue this conversation there ill tag you there @Aatmaj-Zephyr, closing this issue...

[2022-10-12 09:32] #49 closed

[2022-10-12 09:43] EshanTrivedi21 commented on #25
@shrutilenka It has topped working on the Pc as well..
here is the latest site:
https://eshantrivedi21.github.io/Git-CheatSheet/
check it out here!
@Aatmaj-Zephyr

[2022-10-12 09:44] EshanTrivedi21 commented on #25
maybe what you have is your fork of the repository, there have been many additions and subtractions and commits after that one.. check it out once!

[2022-10-12 09:45] EshanTrivedi21 commented on #33
@aryan-parmar @KCmean aajao idhar

[2022-10-12 09:58] shrutilenka commented on #25
@EshanTrivedi21 okay sir i am fixing the issue by tonight.

[2022-10-12 10:37] shrutilenka commented on #25
#50
Done sir!

[2022-10-12 11:24] EshanTrivedi21 commented on #25
Great work @shrutilenka !
It might have been deleted in a Pr and would have been unnoticed by me.. Sorry.
not an issue... Thanks :)

[2022-10-12 11:25] EshanTrivedi21 commented on #25
Closing this issue

[2022-10-12 11:25] #25 closed

[2022-10-12 11:25] EshanTrivedi21 commented on #42
Any progress @bubblecode76 @FinnKr ?

[2022-10-12 11:37] bubblecode76 commented on #42
yes i did start working on it i will complete it soon

[2022-10-12 12:26] EshanTrivedi21 commented on #42
Great Great @bubblecode76

[2022-10-12 16:08] Aatmaj-Zephyr opened #54 "PDf format improper"
<img width="672" alt="image" src="https://user-images.githubusercontent.com/83284294/195393512-1c4f6936-6e95-4b50-a11c-411672365da0.png">

PDF format is not proper

[2022-10-12 16:17] Aatmaj-Zephyr opened #56 "Md format is also not proper"
Markdown is also not proper format

[2022-10-12 16:20] EshanTrivedi21 commented on #56
@Aatmaj-Zephyr I have opened this issue #42.. check this out! Closing this issue :)

[2022-10-12 16:20] #56 closed

[2022-10-13 12:48] #54 closed

[2022-10-13 12:48] #42 closed

[2022-10-13 13:38] EshanTrivedi21 opened #58 "PDF is not formatted"
The PDF needs to be formatted like the Markdown as the whole cheatsheet must follow a uniform format! Someone plz take over this issue! You'll may create a new pdf and delete the previous one as editing it is weird! Thanks :)

[2022-10-13 13:40] EshanTrivedi21 opened #59 "Share Button on Website"
A share button is needed on the website which allows one to share the pdf or any other asset of this repository to others over various platforms..Thanks :)

[2022-10-13 13:43] EshanTrivedi21 opened #60 "Search Button on Website"
A Search button is needed on the website.. which allows easy and comfortable for the user to find commands than to scroll over all day long! Also this the functionality must be of competition with the local (CTRL + F) tag.. Please someone take over this issue.. Thanks :)

[2022-10-13 13:43] jsvigneshkanna commented on #59
Hi @EshanTrivedi21 ,

Please asssign me this issue, will fix it

[2022-10-13 14:16] ibrahim-ogunbiyi commented on #58
Hi, @EshanTrivedi21 can you assign this task to me? Thanks

[2022-10-13 14:28] EshanTrivedi21 commented on #58
Sure brother.. Take over! Thanks for the involvement :)
Also don't worry much about the UI we can look after it later!

[2022-10-13 15:00] EshanTrivedi21 commented on #58
Great Work @ibrahim-ogunbiyi, Closing this issue!

[2022-10-13 15:00] #58 closed

[2022-10-13 18:21] Abhay5855 commented on #60
hey @EshanTrivedi21  Can you Please assign me this issue?

[2022-10-13 18:28] EshanTrivedi21 commented on #60
Yes @Abhay5855, you can work on this issue with @riteshsoni123

[2022-10-13 18:28] EshanTrivedi21 commented on #60
@riteshsoni123 plz take charge!

[2022-10-13 18:58] Abhay5855 commented on #60
@riteshsoni123  I have also assigned the issue I guess we can work it out together , @EshanTrivedi21  thanks for assigning

[2022-10-14 08:32] EshanTrivedi21 commented on #60
Any progress @riteshsoni123 @Abhay5855 ?

[2022-10-14 08:32] EshanTrivedi21 commented on #33
@aryan-parmar @KCmean any progress?

[2022-10-14 09:07] jsvigneshkanna commented on #59
Hi @EshanTrivedi21
I couldnt able to implement share functionality for each cheatsheat, as we can only share whole html file

Can i just add share button and we can fix this functionality in further issues, like moving each cheatsheat to different html

[2022-10-14 10:58] Abhay5855 commented on #60
Yes Started working on it Kindly provide some more time

[2022-10-14 11:36] subhans11 commented on #33
Can't we use the CSS for designing the website?

[2022-10-14 11:42] EshanTrivedi21 commented on #33
It's Css only, the file is in the Assets folder

[2022-10-14 11:43] EshanTrivedi21 commented on #59
Great progress, what we can do here is you can share the pdf instead of the html as the sharing asset.. if this doesn't work you can just add the buttons and I'll try working on it once!

[2022-10-14 12:35] subhans11 commented on #33
Can you please elaborate more on @KCmean 's initial idea for UI.

[2022-10-14 12:45] EshanTrivedi21 commented on #33
The idea was to actually make a landing page having cards for various topics such that the the card redirects us to the cheatsheet of the respective topic only, for e.g. branching.. this would remove the problem faced by people to find out commands!
but since many people were saying that this would rather decrease the user-experience because all the commands wont be available on a single page, whi

[2022-10-14 13:01] subhans11 commented on #33
No idea at this moment.

[2022-10-14 13:16] EshanTrivedi21 commented on #33
Okay then you can continue working on improving the current UI, I'll assign you this task

[2022-10-14 14:05] EshanTrivedi21 commented on #59
great work @jsvigneshkanna, closing this issue, kudos to you!

[2022-10-14 14:05] #59 closed

[2022-10-14 20:17] KCmean commented on #33
My idea was basically to utilize more space and make website less scrolling. Like we can change orientation style and rather then using a search button a sideways navigation menu can work to traverse through elements or diffrent sections ... like for branching and its onflicts we can have a whole section name say 'all about branches' in our side navbar and we can work on it to improve it and make

[2022-10-14 20:20] KCmean opened #66 "PDF changes"
As a cheat sheet it should be short and sweet and very handy.. but as you guys can see our pdf is 17 pages long with lots of things which are simply not required at a begginer level. SO please guys hacve a look at the current cheatheet pdf and tell me which all commands can be ommitted to make a new modified version of it.

[2022-10-14 20:21] EshanTrivedi21 commented on #33
Take charge @KCmean

[2022-10-14 20:27] KCmean commented on #33
![image](https://user-images.githubusercontent.com/96841396/195937662-7425cc0f-7441-4377-8583-171c56971a01.png)

this topics can be listed as a part of our sideways navbar and then we can navigate our uder with help oif this

[2022-10-14 20:30] EshanTrivedi21 commented on #66
How long is your pdf turning to be? @KCmean

[2022-10-14 21:15] sumanabhi opened #67 "We can add Extension that enables various features."
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
We can have the list of Extensions that are available to use for several features. Based on the different OS, we can have this beneficial for beginners.

**Describe alternatives you've considered**
N/A

[2022-10-15 02:32] KCmean commented on #66
I am trying to keep it small and simnple llike it will consist of very handy commands which are used in day to day and like which are best for people who are gettin newly aquianted with git and github so thats what the plan is

[2022-10-15 02:35] KCmean opened #69 "CODE REFACTORING"
I know this has to be done at the last but guys anyone who is sending a pull request make sure that you refactor your code. properly organuze the things that you add or deleete and mention them in you commits descreption. We will carry out this task after every najor update has been done but just keeping this issue here so that people from now on make sure to  properly organuize those big chunks o

[2022-10-15 02:59] KCmean commented on #33
![image](https://user-images.githubusercontent.com/96841396/195965905-d6003a7e-71c8-4e80-924a-606d3a39bc0d.png)

![image](https://user-images.githubusercontent.com/96841396/195965922-3d6b61d7-487f-483c-a930-e7a3833d3255.png)

before after
still some changes are leftt but working.

[2022-10-15 04:33] EshanTrivedi21 commented on #67
thats a great idea @sumanabhi, though i didnt get quite an idea of it! but i'll assign you the task, you can go on working over it..

[2022-10-15 04:34] EshanTrivedi21 commented on #66
nahi re, fir woh cheatsheet nahi rahegi, usse accha sab daal de but try kar concise ho

[2022-10-15 04:36] EshanTrivedi21 commented on #69
arey yeh cheez, contributing.md meh daal @KCmean.. issue meh log confuse hojayenge.. rukja mai daalta hu, yeh issue close karra hu

[2022-10-15 04:36] #69 closed

[2022-10-15 04:38] EshanTrivedi21 commented on #33
Great one @KCmean 🚀🚀

[2022-10-15 09:12] sumanabhi commented on #67
@EshanTrivedi21 Sure, I will create one PR with some of the good Plugins.

[2022-10-15 09:14] sumanabhi opened #71 "Updating the content in .gitignore Section"
**Describe the bug**
Right now the .gitignore is having just a Definition in it.

**To Reproduce**
N/A

**Expected behavior**
I'm going to provide some resources where anyone can generate a basic or preliminary .gitignore file automatically.

[2022-10-15 09:15] SugamKuber opened #72 "Small UI/UX feature for Button"
**Is your feature request related to a problem? Please describe.**
When It comes to the UI/UX of the website it looks buggy

**Describe the solution you'd like**
I would like to add a proper button, The website looks buggy right now

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

![ima

[2022-10-15 09:54] EshanTrivedi21 commented on #71
I dont think that is really necessary, though i will assign you this task

[2022-10-15 09:55] EshanTrivedi21 commented on #72
Go on buddy, assigning you this task

[2022-10-15 11:20] EshanTrivedi21 commented on #72
closing this issue!

[2022-10-15 11:20] #72 closed

[2022-10-15 14:35] EshanTrivedi21 commented on #60
what's the progress?? @Abhay5855

[2022-10-15 14:35] #66 closed

[2022-10-15 14:36] EshanTrivedi21 commented on #67
any progress @sumanabhi ??

[2022-10-15 14:36] #71 closed

[2022-10-15 17:37] Abhay5855 commented on #60
![image](https://user-images.githubusercontent.com/71277980/195999740-0801f2aa-e86d-4527-8d1b-4853e5c8117f.png)

I have Implemented that need some time to add a search icon and functionality @EshanTrivedi21

[2022-10-15 17:54] Abhay5855 commented on #60
@EshanTrivedi21  I have added the search bar and the search icon as well it is responsive too, and when user scrolls down and clicks ctrl + f  , it goes to the custom search bar and focus on it , Is there anything to add more or the issue was this much

[2022-10-15 18:55] sumanabhi commented on #67
Hopefully, in the next couple of hours, I will create one PR for the same.

[2022-10-15 19:01] EshanTrivedi21 commented on #60
Great work buddy!!! Keep up.
Go on !!! @Abhay5855

[2022-10-15 19:03] EshanTrivedi21 commented on #67
No worries buddy go on @sumanabhi

[2022-10-16 03:54] MSamiDev commented on #60
Hello @EshanTrivedi21 Can you assign me as well, I have already created search feature for it.

[2022-10-16 04:28] EshanTrivedi21 commented on #60
@Abhay5855 please look into the matter and review the changes made by @MSamiDev once, since you're already working on this issue.. I have reviewed these changes and they same to be fine.. please review the changes once so that I can accept it and you can further make the changes you want
Great job guys with this @Abhay5855 @MSamiDev

[2022-10-16 05:58] Abhay5855 commented on #60
@EshanTrivedi21 Sure I will check once with @MSamiDev  and let you know

[2022-10-16 07:40] EshanTrivedi21 commented on #60
@Abhay5855 do I merge the pr and then you can make tje necessary changes?

[2022-10-16 07:58] Abhay5855 commented on #60
@EshanTrivedi21 Sure you can do that as well no problem I have also created a PR for the same
https://github.com/EshanTrivedi21/Git-CheatSheet/pull/77

[2022-10-16 08:37] EshanTrivedi21 commented on #60
which on do i accept? @Abhay5855

[2022-10-16 08:40] EshanTrivedi21 commented on #60
There are alot of conflicts coming in your pull request @Abhay5855 , sorting which would take like an hour, what i can do is merge @MSamiDev's pr and then you can change the things you want? this would minimize everyone's work

[2022-10-16 08:42] MSamiDev commented on #60
Hello @Abhay5855 and @EshanTrivedi21,

@Abhay5855  do you have some suggested changes that you can make in my PR(Design, Functionality), Then  @EshanTrivedi21  You can merge the PR and then @Abhay5855  can do the necessary changes.

[2022-10-16 08:48] EshanTrivedi21 commented on #60
yup i will go on with that @MSamiDev, @Abhay5855 plz make the changes you feel like.. great going guys 🚀🚀

[2022-10-16 08:55] EshanTrivedi21 commented on #33
any progress @KCmean @subhans11 ???

[2022-10-16 09:15] Abhay5855 commented on #60
@MSamiDev Sure man

[2022-10-16 09:16] Abhay5855 commented on #60
@EshanTrivedi21 Sure you can go with @MSamiDev PR I will make the necessary changes in there if required.

[2022-10-16 09:49] subhans11 commented on #33
Changed the **font** of commands
![fontchnaged](https://user-images.githubusercontent.com/102163333/196028948-5c77e40c-8575-462e-b068-12b93677f3f2.PNG)

[2022-10-16 11:24] sumanabhi commented on #67
@EshanTrivedi21 Please check PR #78

I'm under the weather that's why it got delayed.

Now, I have added the basic one. Hopefully will try to add a better one.

[2022-10-16 11:25] EshanTrivedi21 commented on #33
Great

[2022-10-16 11:26] EshanTrivedi21 commented on #60
@Abhay5855 I have merged @MSamiDev 's pr, please take a look and add a pr making the necessary changes

[2022-10-16 11:29] EshanTrivedi21 commented on #67
Can you please add these to the website as well @sumanabhi

[2022-10-16 11:31] sumanabhi commented on #67
@EshanTrivedi21 sure will add in sometime.

[2022-10-16 12:19] Abhay5855 commented on #60
@EshanTrivedi21 Yes sure I will do that

[2022-10-16 15:02] KCmean commented on #33
i think jet pro and jet pro mians would be good a good font type for the code lines

[2022-10-16 15:41] EshanTrivedi21 commented on #33
code ke liye toh courier hi sahi hai re

[2022-10-16 17:21] EshanTrivedi21 commented on #67
closing this issue! kudos to you @sumanabhi

[2022-10-16 17:21] #67 closed

[2022-10-17 12:36] Abhay5855 commented on #60
@EshanTrivedi21 i have refactored the search bar and add some styling can you check once please
https://github.com/EshanTrivedi21/Git-CheatSheet/pull/84

[2022-10-17 15:51] sumanabhi opened #85 "Naming of the List title is not correct"
**Describe the bug**
A right arrow is present there. It's a typo.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the website
2. See the error

**Expected behaviour**
The title should be without the right arrow.

**Screenshots**
<img width="908" alt="Screenshot 2022-10-17 at 9 19 23 PM" src="https://user-images.githubusercontent.com/20538074/196224083-2c7a60e9-3d58-4de7-9884-e870bc899

[2022-10-17 16:07] #85 closed

[2022-10-18 07:06] EshanTrivedi21 opened #87 "Creating a Scroll to top button"
**Is your feature request related to a problem? Please describe.**
Easy Navigation is missing

**Describe the solution you'd like**
The button should fade in when any scrolling takes place such that when clicked on the button we should be navigated to the top of the website

**Describe alternatives you've considered**
A similar search button which navigated you to the search bar

**Additional cont

[2022-10-18 07:18] #60 closed

[2022-10-18 07:23] EshanTrivedi21 opened #88 "Creating a Navbar"
**Is your feature request related to a problem? Please describe.**
Website navigation issues

**Describe the solution you'd like**
A side navbar should be introduced which has all the section titles and which navigates the user to the respective section.. this would be very much user friendly and also a hamburger type navbar should be made as a alternative for this in this mobile website

**Descri

[2022-10-18 07:24] #33 closed

[2022-10-18 07:34] EshanTrivedi21 opened #89 "Desktop UI"
**Is your feature request related to a problem? Please describe.**
Website's UI is a big turnoff

**Describe the solution you'd like**
There is no specific UI uniformity which makes this website look worse than it should have been..
There must be a specific theme followed and I think NEUMORPHISM is a good theme for the website..
NEUMORPHISM
Dark Mode Primary Color: #26282B
Dark Mode Secondary Colo

[2022-10-18 07:35] Gopal2021025 commented on #88
I would like to take this issue. Kindly assign me .

[2022-10-18 07:35] Gopal2021025 commented on #87
I would like to take the issue . Kindly assign me .

[2022-10-18 07:37] EshanTrivedi21 opened #90 "Mobile UI"
**Is your feature request related to a problem? Please describe.**
The website is not responsive and hence a good user interface and experience is not being provided to the mobile users

**Describe the solution you'd like**
Upto the contributor

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-10-18 07:40] Aishaa-26 commented on #88
@EshanTrivedi21 Request you yo assign it to me, I would like to work on this issue.

[2022-10-18 07:45] Aishaa-26 commented on #88
Thank you

[2022-10-18 09:22] super-duper-sp commented on #89
Hey,
I am New to Open Source.
Assign, this issue to me, I want to work on this issue.

[2022-10-18 09:37] EshanTrivedi21 commented on #89
I already have @KCmean working on this issue, i will assign it to you as well, you can work on it under him @super-duper-sp

[2022-10-18 09:38] KCmean commented on #89
I am lookinh into this matter we can have more than 1 assigne also so feel free to assign it to someone who is eager

[2022-10-18 12:46] thisisamish opened #92 "Put the search bar before the Topics list for easy access"
The search bar is too small and is positioned below the topics list. This makes it kinda useless as a person has to scroll down to get to it. I want to put it before the topics list so it remains on the front of the website and is easily accessible.

![image](https://user-images.githubusercontent.com/71922206/196432883-f03e0217-cc61-45a9-9b2e-69aadedf6c92.png)

[2022-10-18 13:21] EshanTrivedi21 commented on #92
Go on with the work buddy

[2022-10-18 13:39] ohyahgit commented on #89
I would like to work on this issue

[2022-10-19 08:47] EshanTrivedi21 commented on #88
what's the progress @Aishaa-26

[2022-10-19 08:47] #92 closed

[2022-10-19 08:48] Aishaa-26 commented on #88
Yes... working on it....will send within two hours.

On Wed, 19 Oct, 2022, 2:17 pm Eshan Kalp Trivedi, ***@***.***>
wrote:

[2022-10-19 09:41] EshanTrivedi21 commented on #88
great

[2022-10-19 14:15] EshanTrivedi21 commented on #88
You can go on with that buddy, already assigned you the task! @Gopal2021025

[2022-10-19 18:23] pooranjoyb opened #97 "Enhancement of the search bar section and adding transitions"
`Q1: Is your feature request related to a problem? Please describe.`

- In this current version of the page, the search bar in the light mode looks dull as it is not styled. It also does not resemble the search bar present in dark mode, making it unattractive.
- The contents of the search item should be placed just below the search bar. However in this current version the "Git-GITHUB Cheatsheet To

[2022-10-19 18:30] EshanTrivedi21 commented on #97
Great work noticing, I will assign you this task, you can go on with solving this issue @pooranjoyb

[2022-10-19 19:10] pooranjoyb commented on #97
Thanks @EshanTrivedi21 , Getting into it asap :)

[2022-10-20 15:23] EshanTrivedi21 commented on #97
resolved!

[2022-10-20 15:23] #97 closed

[2022-10-20 15:24] EshanTrivedi21 commented on #88
Whats the progress @Aishaa-26 @Gopal2021025 ?

[2022-10-20 15:34] EshanTrivedi21 opened #99 "Solving Minor UI Issues"
## Making the UI look Uniform like the Majority of the Website!
+ ### Dark/Light Toggle Button looks Ugly and is not like the rest of the Website! AND the button is not very Light Mode Friendly!
![image](https://user-images.githubusercontent.com/98325124/196992107-553f36c9-42a4-42d4-8490-e1553c6dc245.png)
+ ### Navigate to Top Button looks Ugly and is not like the rest of the Website! AND the butt

[2022-10-20 15:36] #89 closed

[2022-10-20 15:44] EshanTrivedi21 commented on #99
Which issue are you opting for (one or more) ? @g4m3r0

[2022-10-20 16:04] g4m3r0 opened #100 "Refactoring of the source code"
The source code of the index.html and styles.css file seems to have some formatting issues (missing or wrong indentation, empty lines) and typos.
I also think putting the Javascript code into a dedicated file would be better.

If you don't mind then I would like to work on this issue two.

[2022-10-20 16:24] EshanTrivedi21 commented on #100
Go on with it buddy

[2022-10-20 16:35] EshanTrivedi21 commented on #99
Cool go on with it @g4m3r0

[2022-10-20 17:08] g4m3r0 commented on #99
@EshanTrivedi21 What do you think of that so far?
It uses font awesome icons instead of images and the defined CSS theme for colouring.
![image](https://i.imgur.com/ekmQIO2.gif)
![image](https://i.imgur.com/pM1wk4w.gif)

[2022-10-20 17:12] EshanTrivedi21 commented on #99
@g4m3r0
+ The Scroll to top button looks perfect, but can it be wrapped around a circle so that it is more noticeable
+ The Sun's font awesome looks weird, otherwise that is okay as well

[2022-10-20 20:06] g4m3r0 commented on #99
@EshanTrivedi21 I've created a pull request, can you please take a look at the changes that I've made?

[2022-10-21 06:38] EshanTrivedi21 commented on #100
What's the progress @g4m3r0 ?

[2022-10-21 18:37] #88 closed

[2022-10-21 18:38] EshanTrivedi21 opened #104 "Side Navbar UI and Responsiveness"
`Q1: Is your feature request related to a problem? Please describe.`

Responsiveness of the Website

`Q2: Describe the solution you'd like`

Creating a hamburger navbar for the sidebar

`Q3: Describe alternatives you've considered`

none

`Q4: Additional context`

none

[2022-10-21 18:39] EshanTrivedi21 commented on #104
Take Charge @vaibhav-009 !

[2022-10-21 22:24] g4m3r0 commented on #100
@EshanTrivedi21 I have
- Refactored/Beautified HTML
- Separated JavaScript code into its own file
- Fixed some typos.
Can you please take a look at it?

[2022-10-21 22:30] g4m3r0 commented on #99
I just saw another UI issue in the first code box:
![image](https://user-images.githubusercontent.com/9322695/197297410-50c109eb-bff6-4ede-9d73-1e4212dd46a7.png)

Should it be that the icons turn blue when hovered?
For me, that doesn't really fit with the rest of the site.
![image](https://user-images.githubusercontent.com/9322695/197297499-c6b9a990-fb5a-4627-b02f-b5643d96c028.png)

What do you th

[2022-10-22 03:55] EshanTrivedi21 commented on #100
Resolved

[2022-10-22 03:55] #100 closed

[2022-10-22 03:57] EshanTrivedi21 commented on #99
@g4m3r0 You can change the blue color issue, but I feel the copy button svg suits the best as it the common thing used wherever this copy button is used.. even github

[2022-10-22 05:21] Manishgupta200 commented on #104
I would like to work on that issue as i solved this issue recently

[2022-10-22 06:16] subhans11 opened #107 "Showing 404 Error"
Sidebar working fine for options, but for the last 2 options (Extensions for Github) it showing 404 error.

![Screenshot (169)](https://user-images.githubusercontent.com/102163333/197323528-21b5c819-0697-44f4-9b5a-be7a00abe803.png)

![404](https://user-images.githubusercontent.com/102163333/197323531-75d1e431-4c9a-43a5-b8ad-648912dc6489.PNG)

[2022-10-22 06:56] EshanTrivedi21 commented on #107
Assigning you this issue!

[2022-10-22 07:05] hemant-sw opened #108 "Adding a new command"
Hi @EshanTrivedi21 in git branching section of the website it would be great if we add git command to view all branches.
git branch -a

This command will so all branches So, If you think that this can be added you can assign me this issue and it will be great if you label it with hacktoberfest.

Thank you.

[2022-10-22 07:16] EshanTrivedi21 commented on #108
I have assigned you this task @hemant-sw
Please change this in the Website and the Markdown
Thanks for your involvement 🚀

[2022-10-22 07:18] EshanTrivedi21 commented on #104
The hamburger navbar is already done by someone.. But I can assign you to enhance the UI and Working of the Navbar
Thanks for your Involvement @Manishgupta200 🚀

[2022-10-22 08:16] subhans11 commented on #107
working fine now, No edit needed. closing the isssue.

[2022-10-22 08:16] #107 closed

[2022-10-22 10:46] Manishgupta200 commented on #104
Ya. @EshanTrivedi21 but please assign me first. I'm excited to work on the issue

[2022-10-22 13:13] Manishgupta200 commented on #104
Thanks for assigning

[2022-10-22 14:40] Manishgupta200 commented on #104
Please look at "pull request" section @EshanTrivedi21

[2022-10-23 05:03] EshanTrivedi21 commented on #108
closing this

[2022-10-23 05:03] #108 closed

[2022-10-23 06:18] EshanTrivedi21 opened #112 "Code Refactoring"
### This is the biggest issue being faced by everyone using the code

+ ### Create a separate JS file in the assets folder and remove the Internal JS.
+ ### Delete Unwanted Variables in the CSS file and use a proper name convention.
+ ### Format the Code, Use DRY Principle to do so.
+ ### Remove unwanted lines of code but also check that it doesn't alter the output.

[2022-10-23 06:31] Bhavil-13 commented on #112
I want to take up this issue, I only know HTML, CSS and JS. @EshanTrivedi21

[2022-10-23 06:37] EshanTrivedi21 commented on #112
Go on @Bhavil-13, assigning you the task

[2022-10-23 08:05] EshanTrivedi21 commented on #112
@Bhavil-13 i have made some major UI changes, plz pull the code once before sending a pr or working on it to prevent merge conflicts.

[2022-10-23 12:29] #112 closed

[2022-10-23 12:30] #99 closed

[2022-10-23 12:30] #104 closed

[2022-10-23 14:05] #90 closed